<!DOCTYPE html>
<head>
</head>
<body>
        <center>
        <h1>멋쟁이 사자처럼 이름짓기</h1>
        <br>
        <h3>재미로 보는 멋사식 이름짓기</h3>
        <br><br>
        <form action="{% url 'result' %}">
        <select name = "year">
                <option value = "1" selected="">XXX1</option>
                <option value = "2">XXX2</option>
                <option value = "3">XXX3</option>
                <option value = "4">XXX4</option>
                <option value = "5">XXX5</option>
                <option value = "6">XXX6</option>
                <option value = "7">XXX7</option>
                <option value = "8">XXX8</option>
                <option value = "9">XXX9</option>
                <option value = "0">XXX0</option>
        </select>년&nbsp;&nbsp;
        <t>
        <select name = "month">
                <option value = "1" selected="">1</option>
                <option value = "2">2</option>
                <option value = "3">3</option>
                <option value = "4">4</option>
                <option value = "5">5</option>
                <option value = "6">6</option>
                <option value = "7">7</option>
                <option value = "8">8</option>
                <option value = "9">9</option>
                <option value = "10">10</option>
                <option value = "11">11</option>
                <option value = "12">12</option>                
        </select>월&nbsp;&nbsp;
        <select name="day">
                <option value="1" selected="">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
        </select>일생
        <br><br>
        <input type="submit" value = "Make 멋사st Name">
</form>

</center>
</body>